<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=431, height, initial-scale=1">
<head>
	<title>Baldepro web site</title>

	<!-- css -->
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
	
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

	<!-- fonts -->

	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<!-- web site contain  -->

<body ng-app ="app">	
	<!-- header -->
	<header class = "container-fluid header" ng-controller="headercontroller">
		<div class = "container">
			<a href="#" class = "logo"> Baldepro </a>
			<nav class = "menu">
				<a href="#"><i class="fa fa-home" aria-hidden="true">&nbsp; Home</i></a>
				<a href="#about"><i class="fa" aria-hidden="true"> About </i></a>
				<a href="#projects"> <i class="fa" aria-hidden="true"> Projects </i></a>
				<a href="#contact"><i class="fa" aria-hidden="true"> Contact </i></a>
			</nav>
		</div>
	</header>
	<!-- end header -->
	
	<!-- banner -->
	<section class ="container-fluid banner">
		<div class ="ban">
			<img src="../images/ban.jpg" alt ="banner of the site">			
		</div>
	</section>
	<!-- end banner -->
	
	<!-- about -->
	<section class ="container-fluid about" ng-controller="aboutcontroller">
		<div class = "container">
			<h2 id="about"> About me </h2>
			<hr class ="separator">
			<div class ="row">
				<article class ="col-md-4 col-lg-4 col-xs-12 col-sm-12">
					<h2> Studies</h2>
					<div ng-repeat = "study in studies">
						<span class="badge badge-primary">{{study.year}}</span> 
						<span class="badge badge-secondary">{{study.name}}</span>
						<h5>{{study.school}} ({{study.city}})</h5>
						<hr>
					</div>
				</article>
				<article class ="col-md-4 col-lg-4 col-xs-12 col-sm-12">
					<h2> Professionnal Experience</h2>
					<div ng-repeat = "experience in experiences">
						<span class="badge badge-primary">{{experience.period}}</span>
						<span class="badge badge-secondary">{{experience.company}}</span>
						<p>{{experience.description}}</p>
						<hr>
					</div>
				</article>
				<article class ="col-md-4 col-lg-4 col-xs-12 col-sm-12">
					<h2> Skills</h2>
					<div ng-repeat = "skill in skills">
						<span class="badge badge-primary">{{skill.category}}</span>
						<p>{{skill.name}}</p>
						<hr>
					</div>
				</article>
			</div>
		</div>
	</section>
	<!-- end about -->

	<!-- project -->
	<section class ="container-fluid project" ng-controller="projectcontroller">
		<div class ="container">
			<h2 id = "projects"> My Projects </h2>
			<hr class ="separator">
			<div class ="row">
				<article class = "col-md-4 col-lg-4 col-xs-12 col-sm-12 item-project" ng-repeat ="project in projects">
					<h5 class="theme_title">{{project.theme}}</h5>
					<hr>
					<span class="badge badge-secondary">{{project.technologies}}</span>
					<p>{{project.description}}</p>
				</article>
			</div>
		</div>
	</section>
	<!-- end projects -->

	<!-- footer -->
	<footer class ="container-fluid footer" ng-controller="contactcontroller">
		<div class="container">
		    <h2 id="contact"> Contact me </h2>
		    <hr class = "separator">
		    <div class="row"> 
		    	
				<form class ="formualaire" ng-submit = "sendmessage()">
			        <div class ="controls controls-row form-group">
			        	<label for="name">Your Name</label>
			            <input class="form-control" type="text" id="name" name="name" placeholder="Your Name" ng-model ="name">
			        </div>
			        <div class="form-group">
			        	<label for="mail">Your e-mail</label>
			        	<input type="email" id="email" name="email" class="form-control" placeholder="Your e-mail" ng-model="mail">
			        </div>
			        <div class ="form-group">
			        	<label for="message"></label>    
			            <textarea rows="5" id="message" name="message" class="form-control" placeholder="Your Message" ng-model ="message"></textarea>
			        </div>
			        <div class ="controls">
			            <button id = "contact-submit" type="submit" class="btn btn-primary input-medium pull-right">Send</button>
			        </div>
			    </form>
		        
			</div>
		</div>
		<p>
			&copy Baldepro All Rights reserved.
		</p>
	</footer>
	<!-- end footer -->

	<!-- script -->

	<script type="text/javascript" src="../javascripts/angular/angular.js"></script>
	<script type="text/javascript" src="../javascripts/app.js"></script>
	<script src="https://use.fontawesome.com/ad6e99afdd.js"></script>
</body>
</html>